.row {
  max-width: 100%;
  margin: 0 auto;
}

/*** Header **/
header {
  color: #d95040;
}

#title {
  text-transform: uppercase;
}

footer {
}

/*** Content **/
#content {
  width: "100vw";
  position: relative;
}

#list-section {
  float: left;
  height: 100%;
  background-color: #fff;
  width: 30%;
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1;
  box-shadow: 2px 2px 2px 2px grey;
  padding: 10px 10px;
  overflow-y: scroll;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #0f6caa;
}

.location-details {
  border-bottom: 1px solid grey;
  padding: 10px;
}

.info-name {
  color: #0f6caa;
  padding-bottom: 5px;
}
.info-title {
  font-weight: 400;
}

.title {
}
.info {
  font-size: 14px;
}
input {
  border-radius: 5px;
  font: 14px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 10px 10px;
  padding: 5px 8px;
  width: 70%;
}
#map {
  min-height: 100vh;
  z-index: 0;
}

/*** Footer **/
