.row {
  max-width: 100%;
  margin: 0 auto;
}

/*** Header **/
header {
  color: #D95040;
}

#title {
  text-transform: uppercase;
}

footer {
}

/*** Content **/
#content {
  width: "100vw";
  position: relative;
}

#list-section {
  float: left;
  height: 100%;
  background-color: #fff;
  width: 30%;
  position: absolute;
  top: 0;
  left: 5px;
  z-index: 1;
  box-shadow: 2px 2px 2px 2px grey;
}
#map {
  min-height: 100vh;
  z-index: 0;
}

/*** Footer **/
